.App {
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 8px;
}

input {
  margin-right: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
/* Add this to App.css or your CSS file */
nav {
  background-color: #70ad72;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.nav-hidden {
  display: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.app-name {
  background-color: #70ad72;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  margin: 20px auto;
  width: fit-content;
  border-radius: 8px;
}
